<ion-view view-title="Log in">
  <ion-content scroll="false">
    <input type="emailInputType" name="email" placeholder="a@example.com/numero celular" value="" ng-model="user.username">
    <input type="password" name="password" placeholder="password" value="" ng-model="user.password">
    <input type="button" name="name"  value="Log in"  ng-click="signIn(user)" >
    <input type="button" name="sign_in_app" value="Crear Cuenta"  ng-click="createAccount()">
    <!--div id="map"></div-->

  </ion-content>
</ion-view>
