<ion-view view-title="Mi Perfil">
  <ion-content>
    <ion-list>

    <!--ion-toggle  ng-model="settings.enableFriends"-->
        <div class="list card ">
          <div class="item item-body">
            <img ng-src="../img/mush.png" alt=""/>  Pepe Pecas Martinez
          </div>

        </div>
         <!--/ion-toggle-->

    <div class="list card">
      <div class="item item-divider">Datos Personales</div>
      <div ng-show="settings.enableFriends" class="item item-body">
        <div>
            <b>Av Siempre Viva 742, Zapopan </b>
        </div>
      </div>
    </div>

   <div class="list card">
     <div class="item item-divider dark">Reporte #1</div>
     <div ng-show ="settings.enableFriends" class="item item-body dark">
        <div>
          Su reporte esta siendo procesado
        </div>
     </div>

     <div ng-show="settings.enableFriends" class="item item-body dark">
        <div>
          Su proceso esta siendo reportado
        </div>
     </div>

     <div ng-show="settings.enableFriends" class="item item-body dark ">
        <div>
          Esta siendo procesado por su reporte
        </div>
     </div>


   </div>

    </ion-list>
  </ion-content>
</ion-view>
