<ion-view ng-hide="settings.enableFriends" ng-class="{hide:false}" view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Reportar Falla</div>
      <div ng-hide="settings.enableFriends" class="item item-body">
       <ion-toggle  ng-model="status.submitReport">
         Crear Nuevo Reporte
       </ion-toggle>
        <div ng-show="status.submitReport" >
          <form class="" action="index.html" method="post">
            Localidad: <input type="text" name="localidad" placeholder="Guadalajara">
            Tipo de Falla: <select name="tipoReporte">
                <option value="Alumbrado">Alumbrado</option>
                <option value="Pavimento">Pavimento</option>
                <option value="Jardines">Jardines</option>
                <option value="Tacos">Tacos</option>
                <option value="Tortas">Tortas</option>
                <option value="Tamales">Tamales</option>
              </select>
              <br>
            Ubicación Geografica:
            <br>
            <input type="button" name="GPS" value="" ng-click="gotoGetLocation()">
            <input type="button" name="PickPoint" value="" ng-click="gotoPickPoint()">
            <input type="button" name="Descripcion" value="" ng-click="gotoDescription()">
            <br>
            <br>
            <textarea  name="description" rows="10" cols="15">
              Descripción de la falla.
            </textarea>
            <br>
            Referencias / Comentario adicinal:
            <input type="text" name="name" value="" placeholder="Referencias/Commentarios">
            <input type="submit" name="name" value="Ingresar" ng-click="submitReport()">
          </form>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Listado de Fallas Reportadas</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mi Peril</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    <ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left">
    </ion-side-menu>
  </ion-content>
</ion-view>
